.header {
  padding: 10px;
  border-bottom: 1px solid var(--border-grey);
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: var(--nav-grey);

  @media (min-width: 768px) {
    display: none;
  }
}
.pageContainer {
  display: flex;
  height: 100vh;
  flex: 1 1 0%;
}
.headerContainer {
  background: var(--nav-grey);
  display: none;
  min-width: 270px;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;

  @media (min-width: 768px) {
    display: flex;
  }
}
.sideContainer {
  height: 100vh;
  background: var(--nav-grey);
  right: 0;
  display: none;
  overflow: auto;
  padding: 20px;
  flex-direction: column;
  gap: 30px;
  width: 330px;

  @media (min-width: 1280px) {
    display: flex;
  }
}
.mainContainer {
  display: flex;
  overflow: auto;
  padding: 20px;
  flex-direction: column;
  flex: 1 1 0%;
  gap: 2.5rem;
  align-items: center;
  scrollbar-width: thin;
  scrollbar-color: var(--medium-grey) var(--border-grey);

  @media (min-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (min-width: 1024px) {
    padding: 35px;
  }
}
.navigationLink {
  margin: 20px 20px 0 0;
  list-style-type: none;
  &.isActive {
    background-color: var(--violet);
    border-radius: 7px;
    .navLink {
      color: var(--white);
    }
  }
}
.navLink {
  text-decoration: none;
  padding: 10px 20px;
  width: 100%;
  text-align: left;
  &:hover {
    background-color: var(--violet);
    color: var(--white);
  }
}
.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profileName {
  display: flex;
  margin-left: 10px;
  font-size: 20px;
}
.userName {
  margin-left: 10px;
  font-size: 14px;
  color: var(--medium-grey);
  text-transform: lowercase;
}
.navigationBottom {
  bottom: 30px;
  position: absolute;
  margin-left: 30px;
}
