:root {
  --light-grey: #e3e3e3;
  --medium-grey: #8f8f8f;
  --border-grey: #121212;
  --dark-grey: #101010;
  --bg: #000;

  //Violet
  --violet-light: #b172f4;
  --violet: #8218f4;
  --btn-violet: #6e0ad6;
  --btn-violet-dark: #470192;
  --light-violet: #bca0d9;

  //Red
  --red: #ec6a66;

  --white: #fff;
  --black: #000;
}
