.postCard {
  padding: 20px;
  border-radius: 15px;
  background: var(--nav-grey);
  margin-bottom: 35px;
  width: 500px;
}

.postImage {
  border-radius: 15px;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.postedDate {
  margin-left: 10px;
  font-size: 14px;
  text-transform: lowercase;
  opacity: 0.5;
}

.location {
  font-size: 14px;
  text-transform: capitalize;
  opacity: 0.7;
}

.likeButton {
  cursor: pointer;
}

.saveButton {
  padding: 0;
}

.likesCount {
  color: #8f8f8f;
}
