@import 'utils/styles/_color.scss';

body {
  overflow: hidden;
}
.app {
  color: var(--text-grey);
  background: var(--bg);
  font-size: 14px;
}
a,
.btn-link {
  text-decoration: none;
}
.form-control {
  background-color: var(--form-grey);
  border: none;
  color: var(--medium-grey);
  border-radius: 3px;

  &:focus,
  &:active {
    background-color: var(--form-grey);
    border: none;
    color: var(--medium-grey);
    box-shadow: none;
  }
  &:disabled {
    background-color: var(--nav-grey);
    padding: 0;
  }
}

.btn.btn-primary {
  background-color: var(--btn-violet);
  border-radius: 3px;
  color: var(--white);
  border-color: var(--btn-violet);
  &:hover {
    background-color: var(--violet);
    border-color: var(--violet);
  }
  &:active {
    background-color: var(--btn-violet-dark) !important;
    border-color: var(--btn-violet-dark) !important;
  }
  &.disabled {
    background-color: var(--violet-light);
    border-color: var(--violet-light);
    cursor: not-allowed;
  }
}
.btn-link {
  color: var(--text-grey);
  &:hover,
  &:active {
    color: var(--text-grey);
  }
}
.btn-icon {
  border: none;
  background-color: transparent;
}

a {
  color: var(--text-grey);
}

.card {
  width: 100%;
  background: var(--nav-grey);
  padding: 20px;
  border-radius: 10px;
  color: var(--text-grey);
  border: none;
  label {
    color: var(--medium-grey);
  }
}
